<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты соревнований</title>
    {% load static %}
   <link rel="stylesheet" href="{% static 'css/styles.css' %}">
   <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
<div class="container">
<div class="header">
    <div class="title-block">
        <div class="h1">Результаты соревнований</div>
    </div>
    <div class="userpic"></div>
</div>
<div class="nav">
    <ul>
        <li><a href = "{% url 'index' %}">Главная</a></li>
        <li><a href = "{% url 'coaches' %}">Наши тренеры</a></li>
        <li><a href = "{% url 'awards' %}">Наши достижения</a></li>
        <li><a href = "{% url 'fencers' %}">Наши спортсмены</a></li>
        <li><a href = "{% url 'competitions' %}">Результаты соревнований</a></li>
    </ul>
</div>

<div class="content-wrapper">
    <div class="content">
        {% if competition_list %}
    <ul>

      {% for competition in competition_list %}
      <li>
        <a href="{{ competition.get_absolute_url }}">{{ competition.title}}</a>
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>К сожалению, соревнования пока не внесены в базу данных.</p>
    {% endif %}
    </div>
    <div class="sidebar">
        <h3>Адреса спортзалов</h3>
        <ul class="adr">
            <li>Малаховская 5а</li>
            <li>Елены Стасовой 69/л</li>
            <li>60 лет образования СССР, 17</li>
        </ul>
        <div class="search">
            <form>
            <input type="text" placeholder="Поиск по сайту">
            <button type="submit"></button>
            </form>
          </div>
    </div>
</div>
<div class="footer">
    <table>
        <tr>
            <td><a href = "{% url 'index' %}">Главная</a></td>
            <td><a href = "{% url 'raspM' %}">Расписание зала на ул.Малаховской</a></td>
        </tr>
        <tr>
            <td><a href = "{% url 'coaches' %}">Наши тренеры</a></td>
            <td><a href = "{% url 'raspES' %}">Расписание зала на ул.Е.Стасовой</a></td>
        </tr>
        <tr>
            <td><a href = "{% url 'awards' %}">Наши достижения</a></td>
            <td><a href = "{% url 'rasp60' %}">Расписание зала на ул.60 лет образования СССР</a></td>
        </tr>
        <tr>
            <td><a href = "{% url 'fencers' %}">Наши спортсмены</a></td>
            <td><a href = "{% url 'competitions' %}">Результаты соревнований</a></td>  
        </tr>
    <table>
</div>
</div>
</body>
</html>